.title{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: darkcyan;
    color: lightcoral;
    font-size: 41px;
}

.buttonAdd{
    margin-left: 500px;
}

.table{
    margin-top: 15px;
}

.img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}