<h1 class="title">CHARACTERS SECTION</h1>

<div class="dropdown" id="selectHouse">
    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      HOUSE SELECTOR
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="gryffindor">GRYFFINDOR</a></li>
      <li><a class="dropdown-item" href="ravenclaw">RAVENCLAW</a></li>
      <li><a class="dropdown-item" href="hufflepuff">HUFFLEPUFF</a></li>
      <li><a class="dropdown-item" href="slytherin">SLYTHERIN</a></li>
    </ul>
  </div>
