<h1 class="title">SORTING HAT</h1>

<div class="image">
  <img src="https://fotografias.antena3.com/clipping/cmsimages01/2017/03/06/886FAAD6-44E3-4E06-AC03-C4F3FF479857/98.jpg?crop=1335,751,x0,y0&width=1900&height=1069&optimize=high&format=webply" alt="" class="img">
</div>

<div class="dropdown">
    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      SELECT YOUR HOUSE
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="gryffindor">GRYFFINDOR</a></li>
      <li><a class="dropdown-item" href="ravenclaw">RAVENCLAW</a></li>
      <li><a class="dropdown-item" href="hufflepuff">HUFFLEPUFF</a></li>
      <li><a class="dropdown-item" href="slytherin">SLYTHERIN</a></li>
    </ul>
  </div>
