<h1 class="title">GRYFFINDOR CHARACTERS</h1>

<table class="table table-bordered">
  <thead>
    <tr class="table-success">
      <th scope="col">NAME</th>
      <th scope="col">PATRONUS</th>
      <th scope="col">AGE</th>
      <th scope="col">IMAGE</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info" *ngFor="let gryffindor of arrGryffindor">
      <td>{{ gryffindor.name }}</td>
      <td>{{ gryffindor.patronus }}</td>
      <td>{{ gryffindor.age }}</td>
      <td>
        <img src="{{ gryffindor.image }}" alt="" class="img" />
      </td>
    </tr>
  </tbody>
</table>
