.title{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aqua;
    font-size: 41px;
}

.img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}