<h1 class="title">SLYTHERIN CHARACTERS</h1>

<table class="table table-bordered">
  <thead>
    <tr class="table-success">
      <th scope="col">NAME</th>
      <th scope="col">PATRONUS</th>
      <th scope="col">AGE</th>
      <th scope="col">IMAGE</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info" *ngFor="let slytherin of arrSlytherin">
      <td>{{ slytherin.name }}</td>
      <td>{{ slytherin.patronus }}</td>
      <td>{{ slytherin.age }}</td>
      <td>
        <img src="{{ slytherin.image }}" alt="" class="img" />
      </td>
    </tr>
  </tbody>
</table>
